<table style="width: 100%">
<tbody>
<tr>
<td align="center" class="titleblock" style="padding: 7px 0;"><span size="2" face="Open-sans, sans-serif" color="#555454" style="color: #555454; font-family: Open-sans, sans-serif; font-size: small;"> <span class="title" style="font-weight: 500; font-size: 28px; line-height: 33px;">Hi {seller_name},</span><br /> <span class="subtitle" style="font-weight: 500; font-size: 16px; line-height: 25px;"> A Customer has just placed an order for your products on {shop_name}!</span> </span></td>
</tr>
<tr>
<td class="space_footer" style="padding: 0!important;"> </td>
</tr>
<tr>
<td class="box" style="border: 1px solid #D6D4D4; background-color: #f8f8f8; padding: 7px 14px;">
<p data-html-only="1" style="border-bottom: 1px solid #D6D4D4; margin: 3px 0 7px; text-transform: uppercase; font-weight: 500; font-size: 18px; padding-bottom: 10px;">Customer Information</p>
<span size="2" face="Open-sans, sans-serif" color="#555454" style="color: #555454; font-family: Open-sans, sans-serif; font-size: small;"><span style="color: #777;"> <span style="color: #333;"><strong>Name:</strong></span> {firstname} {lastname}<br /> </span> <span style="color: #777;"> <span style="color: #333;"><strong>Email:</strong></span> {email}<br /> </span> </span></td>
</tr>
<tr>
<td class="space_footer" style="padding: 0!important;"> </td>
</tr>
<tr>
<td class="box" style="border: 1px solid #D6D4D4; background-color: #f8f8f8; padding: 7px 14px;">
<p data-html-only="1" style="border-bottom: 1px solid #D6D4D4; margin: 3px 0 7px; text-transform: uppercase; font-weight: 500; font-size: 18px; padding-bottom: 10px;">Order details</p>
<span size="2" face="Open-sans, sans-serif" color="#555454" style="color: #555454; font-family: Open-sans, sans-serif; font-size: small;"><span style="color: #777;"> <span style="color: #333;"><strong>Order:</strong></span> {order_name} Placed on {date}<br /> </span> </span></td>
</tr>
<tr>
<td class="space_footer" style="padding: 0!important;"> </td>
</tr>
<tr>
<td>{products}</td>
</tr>
<tr>
<td class="space_footer" style="padding: 0!important;"> </td>
</tr>
<tr>
<td>
<table class="table" style="width: 100%;">
<tbody>
<tr>
<td style="border: 1px solid #D6D4D4; background-color: #f8f8f8; padding: 7px 14px;">
<p data-html-only="1" style="border-bottom: 1px solid #D6D4D4; margin: 3px 0 7px; text-transform: uppercase; font-weight: 500; font-size: 18px; padding-bottom: 10px;">Delivery address</p>
<span size="2" face="Open-sans, sans-serif" color="#555454" style="color: #555454; font-family: Open-sans, sans-serif; font-size: small;"><span style="color: #777;">{delivery_block_html}</span> </span></td>
<td width="20" class="space_address" style="padding: 7px 0;"> </td>
<td style="border: 1px solid #D6D4D4; background-color: #f8f8f8; padding: 7px 14px;">
<p data-html-only="1" style="border-bottom: 1px solid #D6D4D4; margin: 3px 0 7px; text-transform: uppercase; font-weight: 500; font-size: 18px; padding-bottom: 10px;">Billing address</p>
<span size="2" face="Open-sans, sans-serif" color="#555454" style="color: #555454; font-family: Open-sans, sans-serif; font-size: small;"><span style="color: #777;">{invoice_block_html}</span> </span></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>