<div style="padding: 10px; border: 1px solid #000000;">
<div style="margin-bottom: 30px; width: 100%; border: 1px solid #000000; background-color: #000;">
<p style="color: #FFF; text-align: center; font-size: 18px; font-family: Open Sans, Arial, Helvetica,
 sans-serif; line-height: 27px; font-weight: 400; padding: 8px 0px 6px 0px;"><strong>
 Order has been Cancelled {order_id}.</strong></p></div>
<div style="margin-bottom: 10px; width: 100%;"><p><br></p></div>
<p style="text-decoration: underline; font-style: italic; font-size: 15px; font-weight: bold;">
Order Details:</p><div style="margin-bottom: 10px; width: 100%;"><span><b>Order id:</b> {order_id}
</span> <br></div>
<p style="text-decoration: underline; font-style: italic; font-size: 15px; font-weight: bold;"><br>
</p><p style="margin-top: 30px; text-align: center;">Please feel free to email us with any questions. If you prefer to call with any questions or requests we can be reached at: +91-999 999 XXXX</p>
<p style="margin-top: 20px; text-align: center;">Best Regards,</p><div style="margin-bottom: 10px; width: 100%; border: 1px solid #000000; background-color: #000;">
<p style="color: #FFF; text-align: center; font-size: 13px; font-family: Open Sans, Arial, Helvetica, sans-serif; line-height: 16px; padding: 5px 0px 3px 0px;"><strong>Happy Shopping</strong></p></div>
